.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.weather-card{
    display: inline-flex;
    flex-direction: column;
    
}

.temp-interval{
    display: flex;
    justify-content: space-around;
}
.temp-max{
    
}

.temp-min{
    color:grey;
}

.weather-card:hover{
    background-color:#dddfe2;
 }
 